<div class="container">
  
  <form #course="ngForm" (ngSubmit)="submit(course)">
    <div class="form-group">
      <label for="courseName">Course Name</label>
      <input ngModel
        required
        name="courseName" 
        #courseName="ngModel"
        minlength="10" 
        type="text" 
        id="courseName" 
        class="form-control"/>
      <div class="alert alert-danger contact-form-margin" *ngIf="courseName.touched && !courseName.valid">
        <div *ngIf="courseName.errors.required">First is required.</div>
        <div *ngIf="courseName.errors.minlength">First name should be minimum {{courseName.errors.minlength.requiredLength}} chracters.</div>
        <div *ngIf="courseName.errors.pattern">First name doesn't match the pattern.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="category">Category</label>
      <select ngModel required
        name="category"
        #category="ngModel"
        id="category" class="form-control">
        <option *ngFor="let category of courseCategory" [value]="category.id">
          {{category.name}}
        </option>
      </select>
      <div class="alert alert-danger" *ngIf="category.touched && !category.valid">
        <div *ngIf="category.errors.required">Category is required</div>
      </div>

    </div>

    <div class="checkbox">
      <label for="moneyBackGuarantee">
        <input ngModel type="checkbox" id="moneyBackGuarantee" name="isGuarantee">
        30-day money back guarantee
      </label>
    </div>
    <p>
      {{course.value | json}}
    </p>
    <button class="btn btn-success" [disabled]="!course.valid">Submit</button>
  </form>

</div>